<main class="container mt-5">
    <div>
        <div class="alert alert-success text-center" role="alert" *ngIf="!clientes">
          <h4 class="alert-heading">Cargando ...</h4>
          <p><i class="fa fa-refresh fa-3x fa-spin" aria-hidden="true"></i></p>
          <p class="mb-0"></p>
        </div>
        <div *ngIf="clientes" class="animated zoomIn">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Telefono</th> 
                        <th>Direccion</th>                       
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of clientes">
                        <td>{{c.id}}</td>
                        <td>{{c.clie_name}}</td>
                        <td>{{c.clie_last}}</td>
                        <td>{{c.clie_tel}}</td>
                        <td>{{c.clie_dir}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-success btnCrear animated bounce infinite slow"(click)="crearCliente()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
</main>